/*colors*/
.my-theme{
    --color-bg-left: #A1FCDF;
    --color-bg-right: #FCEFEF;
    --color-font-left: #05100C;
    --color-font-right: #110303;
    --color-name: #F99410;
    --color-surname: #783902;
    --link-base-color: #06B27B;
    --link-visited-color: #023B29;
  }