@import 'main-theme';
@import 'my-theme';

*{
  margin: 0;
  padding: 0;
}

$color-error: #ED0131;
$color-black: black;
$margin-40: 40px;
$margin-15: 15px;
$margin-20: 20px;
$magrin-55: 55px;
$margin-30: 30px;
$margin-60: 60px;
$padding-main: 2px;
$font-size-name: 40px;
$font-weight-main: 600;
$font-size-32: 32px;
$font-size-24: 24px;
$font-size-16: 16px;
$font-size-36: 36px;
$border-line-1: 6px solid;
$border-line-2: 5px solid;
$line-height-medium: 1.5em;
$line-height-large: 2em; 

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
}

@media screen and (max-width: 355px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .white {
    border-left: none;
  }
  .blue {
    border-bottom: 1px solid black;
  }
}
@keyframes image-hover{
  from{
    transform: scale(1);
    rotate: 90deg;
  }
  to{
    transform: scale(2);
    rotate: 0deg;
  }
}

@media screen and (min-width: 356px) {
    .white {
      border-left: 1px solid $color-black;
    }
    .blue {
      box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
      z-index: 1;
    }
    .image:hover{
      transform: scale(2);
      z-index: 1;
      box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.25);
      animation-name: image-hover;
      animation-duration: 2s;
    }
}

@media screen and (max-width: 728px) {
  .block-name{
    font-size: $font-size-16;
    line-height: $line-height-medium;
  }
}

.main-text-characteristics {
  font-family: Arial, Helvetica, sans-serif;
}

.name-container {
  grid-area: name;
}

@mixin eruption ($duration) {
  animation-name: eruption;
  animation-duration: $duration;
}

@keyframes eruption{
  from {
    transform: translateY(100%);
  }
  to{
    transform: translateY(0%);
  }
}

.white {
  background-color: $color-bg-right;
  position: relative;
  display: grid;
  grid-template-rows: 0.2fr 0.5fr 0.7fr 1fr;
  grid-template-areas:
  "summary"
  "skills"
  "experience"
  "education";
  @include eruption(2s);
  animation-delay: .5s;
}

.blue{
  background-color: $color-bg-left;
  display: grid;
  grid-template-rows: 0.2fr 0.5fr 0.2fr 1fr 1.2fr;
  grid-template-areas: 
  "name"
  "photo"
  "position"
  "contacts"
  "languages";
  @include eruption(2s);
}

.name-block {
  font-weight: $font-weight-main;
  font-size: $font-size-name;
  margin-left: $margin-40;
  padding: $padding-main;
  line-height: $line-height-large;
}

.name{
  @extend .name-block;
  color: $color-name;
  margin-top: $margin-60;
}

.surname{
  @extend .name-block;
  color: $color-surname;
  margin-bottom: $margin-15;
}

.image{
  grid-area: photo;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.position{
  font-weight: $font-weight-main;
  font-size: $font-size-16;
  color: $color-font-left;
  margin-top: $margin-20;
  margin-bottom: $margin-40;
  margin-left: $margin-40;
  line-height: $line-height-medium;
  grid-area: position;
}

.contacts-container{
  margin-left: $margin-40;
  grid-area: contacts;
}

.contact{
  font-weight: $font-weight-main;
  font-size: $font-size-32;
  color: $color-font-left;
  line-height: $line-height-large;
  border-bottom: $border-line-1;
  border-color: $border-line-1-color;
  margin-right: $margin-15;
  margin-bottom: $margin-30;
}

.line-name {
  font-weight: bold;
  font-size: $font-size-24;
  line-height: $line-height-medium;
  color: $color-font-left;
}

.contact-value{
  line-height: $line-height-large;
  margin-bottom: $margin-20;
  color: $color-font-left;
  font-weight: $font-weight-main;
  font-size: $font-size-16;
}

.languages {
  font-weight: $font-weight-main;
  font-size: $font-size-32;
  line-height: $line-height-large;
  color: $color-font-left;
  border-bottom: $border-line-1;
  border-color: $border-line-1-color;
  margin-right: $margin-15;
  margin-bottom: $margin-30;
}

.languages-container {
  margin-left: $margin-40;
  font-size: $font-size-16;
  line-height: $line-height-medium;
  font-weight: $font-weight-main;
  color: $color-font-left;
  margin-bottom: $margin-30;
  grid-area: languages;
}

.link {
  color: $link-base-color;
  text-decoration: underline;

  &:visited {
  color: $link-visited-color;
  text-decoration: underline;
  }

  &:hover {
  text-decoration: none;
  }
}

/*cv-right-section*/
@mixin margin-side {
  margin-left: $magrin-55;
  margin-right: $margin-40;
}

.block-name{
  @include margin-side();
  font-weight: $font-weight-main;
  font-size: $font-size-36;
  color: $color-font-right;
  border-bottom: $border-line-2;
  border-color: $border-line-2-color;
  margin-bottom: $margin-30;
  margin-top: $margin-60;
  line-height: $line-height-large;
}

.summary-container{
  grid-area: summary;
}

.skills-container{
  grid-area: skills;
}

.summary-text{
  @include margin-side();
}

.experience-container{
  grid-area: experience;
}

ul{
  margin-left: $margin-60;
  list-style-position: inside;
}

.we-1{
  @include margin-side();
  font-size: $font-size-16;
}

.we-2{
  @include margin-side();
  margin-top: $margin-15;
  font-size: $font-size-16;
  opacity: 70%;
}
@keyframes we-2-opacity {
  from{
    opacity: 70%;
  }
  to{
    opacity: 100%;
  }
}

.we-2:hover {
  opacity: 100%;
  animation-name: we-2-opacity;
  animation-duration: 1s;
}

.education-container {
grid-area: education;
}

.education-text{
  @include margin-side();
  font-size: $font-size-16;
  margin-bottom: $margin-30;
}

.we-header{
  font-weight: bold;
}

/*hire-me-styles*/
.form-container {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1024px;
  max-height: 100vh;
  position: relative;
  animation-name: hire-me;
  animation-duration: 1s;
}
  
@keyframes hire-me {
  from{
    transform: scale(200%);
  }
  to {
    transform: scale(100%);
  }
}

form {
  max-width: 1024px;
  position: relative;
}

fieldset{
  width: fit-content;
  max-width: 1024px;
  border-radius: 10px;
  padding: 15px;
  position: sticky;
  top: calc(50% - 210px);
  left: calc((100% - 420px)/2);
}

.contacts-table{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid $color-black;
  border-collapse: collapse;
}

.contacts-cell{
  border: 1px $color-black solid;
  padding: 5px;
  text-align: left;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #7B61FF;
} 

input,
select,
textarea {
  appearance: none;
  border-radius: 2px;
}

.asterisk{
  color: $color-error;
  margin-left: .3em;
}

.contact-form-headers {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #0048D9;
  color: white;
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border: 0;
  margin: 10px 5px;
}

input[type="submit"]:hover{
  background-color: #002266;
}

input::placeholder{
  color:grey;
  padding: 2px;
}

input[type="email"] {
  line-height: 1.5em;
}

input:invalid{
  border-color: $color-error;
}

.error{
  display: none;
  color: $color-error;
}

.email:invalid + .error {
  display: block;
}

select{
  background: url('./assets/Vector.png') no-repeat right;
  min-width: 10rem;
  line-height: 1.5em;
}