*{
  margin: 0;
  padding: 0;
}

/*sizes*/
:root{
  --font-size-name: 40px;
  --font-weight-main: 600;
  --font-size-left-headings: 32px;
  --font-size-left-subheadings: 24px;
  --font-size-main-text: 16px;
  --font-size-right-headings: 36px;
  --border-line-1: 6px solid #1E1E1E;
  --border-line-2: 5px solid #000000;
  --line-height-medium: 1.5em;
  --line-height-large: 2em;

  /*margins 5px*/
  --margin-40: 40px;
  --margin-15: 15px;
  --margin-20: 20px;
  --magrin-55: 55px;
  --margin-30: 30px;
  --margin-60: 60px;
  --padding-main: 2px;
}

.main-text-characteristics {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--color-bg-left);
  position: relative;
}

.white {
  background-color: var(--color-bg-right);
  border-left: 1px solid black;
  position: relative;
  grid-column-start: 2;
}
/*
.blue{
  position: fixed;
}*/

.name{
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-name);
  color: var(--color-name);
  border: none;
  line-height: var(--line-height-large);
  margin-left: var(--margin-40);
  margin-top: var(--margin-60);
  padding-top: var(--padding-main);
}

.surname{
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-name);
  color: var(--color-surname);
  border: none;
  margin-left: var(--margin-40);
  margin-bottom: var(--margin-15);
  padding: var(--padding-main) 0px var(--padding-main) 0px;
}

.image{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.position{
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-main-text);
  color: var(--color-font-left);
  border: none;
  margin-top: var(--margin-20);
  margin-bottom: var(--margin-40);
  margin-left: var(--margin-40);
  line-height: var(--line-height-medium);
}

.contacts-container{
  border: none;
  margin-left: var(--margin-40);
}

.contact{
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-left-headings);
  color: var(--color-font-left);
  line-height: var(--line-height-large);
  border-bottom: var(--border-line-1);
  margin-right: var(--margin-15);
  margin-bottom: var(--margin-30);
}

.line-name {
  font-weight: bold;
  font-size: var(--font-size-left-subheadings);
  line-height: var(--line-height-medium);
  color: var(--color-font-left);
}

.contact-value{
  line-height: var(--line-height-large);
  margin-bottom: var(--margin-20);
  color: var(--color-font-left);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-main-text);
}

.languages {
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-left-headings);
  line-height: var(--line-height-large);
  color: var(--color-font-left);
  border-bottom: var(--border-line-1);
  margin-right: var(--margin-15);
  margin-bottom: var(--margin-30);
}

.languages-container {
  margin-left: var(--margin-40);
  font-size: var(--font-size-main-text);
  line-height: var(--line-height-medium);
  font-weight: var(--font-weight-main);
  color: var(--color-font-left);
  margin-bottom: var(--margin-30);
}

.link {
  color: var(--link-base-color);
  text-decoration: underline;
}

.link:visited {
  color: var(--link-visited-color);
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

/*cv-right-section*/
.block-name{
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-right-headings);
  color: var(--color-font-right);
  border-bottom: var(--border-line-2);
  margin-bottom: var(--margin-30);
  margin-left: var(--magrin-55);
  margin-right: var(--margin-40);
  margin-top: var(--margin-60);
  line-height: var(--line-height-large);
}

.summary-text{
  margin-left: var(--magrin-55);
  margin-right: var(--margin-40);
}

ul{
  margin-left: var(--margin-60);
  list-style-position: inside;
}

.we-1{
  margin-left: var(--magrin-55);
  margin-right: var(--margin-40);
  font-size: var(--font-size-main-text);
}

.we-2{
  margin-left: var(--magrin-55);
  margin-right: var(--margin-40);
  margin-top: var(--margin-15);
  font-size: var(--font-size-main-text);
}

.education-text{
  margin-left: var(--magrin-55);
  margin-right: var(--margin-40);
  font-size: var(--font-size-main-text);
  margin-bottom: var(--margin-30);
}

.we-header{
  font-weight: bold;
}

/*hire-me-styles*/
.form-container {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1024px;
  max-height: 100vh;
  position: relative;
}

form {
  max-width: 1024px;
  position: relative;
}

fieldset{
  width: fit-content;
  max-width: 1024px;
  border-radius: 10px;
  padding: 15px;
  position: sticky;
  top: calc(50% - 210px);
  left: calc((100% - 420px)/2);
}

.contacts-table{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-collapse: collapse;
}

.contacts-cell{
  border: 1px black solid;
  padding: 5px;
  text-align: left;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #7B61FF;
} 

input,
select,
textarea {
  appearance: none;
  border-radius: 2px;
}

.asterisk{
  color: red;
  margin-left: .3em;
}

.contact-form-headers {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #0048D9;
  color: white;
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border: 0;
  margin: 10px 5px;
}

input[type="submit"]:hover{
  background-color: #002266;
}

input::placeholder{
  color:grey;
  padding: 2px;
}

input[type="email"] {
  line-height: 1.5em;
}

input:invalid{
  border-color: red;
}

.error{
  display: none;
  color: red;
}

.email:invalid + .error {
  display: block;
}

select{
  background: url('./assets/Vector.png') no-repeat right;
  min-width: 10rem;
  line-height: 1.5em;
}
